@config "../tailwind.config.js";
@tailwind base;
@tailwind components;



body {
  font-family: 'Poppins', sans-serif;
  }
html {
  font-family: 'Poppins', sans-serif!;
}

.navbar-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  border-radius: 28px 28px 0 0;
}

.navbar-mobile a {
  text-decoration: none;
  color: white;
}

.plant-card {
  background-color: #DCE8D6;
  padding: 10px 50px;
  margin: 20px;
  text-align: center;
  border-radius: 14px;
  font-family: 'Poppins';
}

.plant-info {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.plant-link {
  display: flex;
  justify-content: flex-end; 
}

.plant-library{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant-overview{
  background-color: #DCE8D6;
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding: 100px 0px 0;
  border-radius: 0 0 0 80px;
}

.img-no-plant{
  filter:hue-rotate(270deg);
}

.dragndrop{
background-color: #d1d5db;
}

button:hover {
  -webkit-filter: brightness(90%);
  transition: all 0.2s ease;
}

/* loader */

:root {
  --size-unit: 1.5em;
  --gap: 0.1em;
  --leaf-rad: 1em;
}

.epic-loader {
  position: relative;
  width: calc(var(--size-unit) * 2 + var(--gap));
  height: calc(var(--size-unit) * 2 + var(--gap));
  left: calc(50% - 1.1em);
  animation: fa-spin 3s ease-in-out infinite;
}

.epic-loader .leaf {
  width: var(--size-unit);
  height: var(--size-unit);
  position: absolute;
  background-color: #0D986A;
  animation: fa-spin 3s ease-in-out infinite;
}

.epic-loader .leaf.l1 {
  left: 0;
  border-bottom-left-radius: var(--leaf-rad);
  filter: brightness(90%);
  border-top-right-radius: var(--leaf-rad);
}

.epic-loader .leaf.l2 {
  margin-left: var(--gap);
  left: var(--size-unit);
  filter: brightness(100%);
  border-bottom-right-radius: var(--leaf-rad);
  border-top-left-radius: var(--leaf-rad);
}

.epic-loader .leaf.l3 {
  top: var(--size-unit);
  margin-top: var(--gap);
  filter: brightness(110%);
  border-top-left-radius: var(--leaf-rad);
  border-bottom-right-radius: var(--leaf-rad);
}

.epic-loader .leaf.l4 {
  top: var(--size-unit);
  left: var(--size-unit);
  margin-left: var(--gap);
  margin-top: var(--gap);
  filter: brightness(120%);
  border-bottom-left-radius: var(--leaf-rad);
  border-top-right-radius: var(--leaf-rad);
}

.container{
  height: 100vh;
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  align-content: center;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@tailwind utilities;